<!DOCTYPE html>
 <!--[if lt IE 7]> <html lang="en" class="ie ie6 lte9 lte8 lte7 os-win"> <![endif]-->
 <!--[if IE 7]> <html lang="en" class="ie ie7 lte9 lte8 lte7 os-win"> <![endif]-->
 <!--[if IE 8]> <html lang="en" class="ie ie8 lte9 lte8 os-win"> <![endif]-->
 <!--[if IE 9]> <html lang="en" class="ie ie9 lte9 os-win"> <![endif]-->
 <!--[if gt IE 9]> <html lang="en" class="os-win"> <![endif]-->
 <!--[if !IE]><!--> <html lang="en" class="os-win"> <!--<![endif]-->

<head>

 <title>Sign Up</title>
 
 
 <link rel="stylesheet" type="text/css" href="watt.css">

 </head>
<body>
 
      <title>NCDRC</title>
        <link rel="stylesheet" href="https://static.licdn.com/sc/h/7vr91xe571iq355slvpdlh7cs"/>
        <link rel="stylesheet" href="https://static.licdn.com/sc/h/5u9qxxl770qbps1jn5y3i3nym,ds7noc8t34vk4bryozik4pcmh"/>
      
    
      
        <div id="uno-reg-join" class="">
          <div class="content-wrapper using-single-form">
           <div class="fodal join-container reg-content-container uno-anchor">
          
             <div class="header-container">
              <header>
               <h2 class="title" style="padding-top:25px;"><span class="li-name">NCDRC</span></h2></header><h2 class="title">National Cyber Defence Research Center</h2>
             </div>
             <div class="content-container">
              <div class="reg-content-wrapper single">
               <div class="top-pane">
                <img class="profile-photo" alt="National Cyber Defence Research Centre" src="ncdrc.png" width="100" height="100"/>
                 <h3 class="message has-photo">Join to make your daily attendence</h3>
               </div>
               <div class="join-form-container form-container">
                <div class="join-form-wrapper form-wrapper">
              <form class="join-linkedin-form float-label-form" action="/done" method="POST" >
                  <fieldset><legend>Join NCDRC</legend>
                   <ul class="input-fields container-box">
                      <li class="first-name-field cell cell-input"><div class="first-name-wrapper cell-body"><label  for="first-name">Name</label><input class="cell-body-textinput" name="name" id="first-name" type="text" aria-required="true" data-li-bingo-validation="control" value="" autofocus=&quot;autofocus&quot;/></div></li>
                    
                      <li class="first-name-field cell cell-input"><div class="first-name-wrapper cell-body"><label  for="first-name">Team Name</label><input class="cell-body-textinput" name="teamName" id="first-name" type="text" aria-required="true" data-li-bingo-validation="control" value="" autofocus=&quot;autofocus&quot;/></div></li>
                       
                      <li class="last-name-field cell cell-input"><div class="last-name-wrapper cell-body"><label for="last-name">In-Time</label><input class="cell-body-textinput"name="inTime"type="text"aria-required="true"value=""data-li-bingo-validation="control"/></div></li>

                      <li class="first-name-field cell cell-input"><div class="first-name-wrapper cell-body"><label>Out-Time</label><input class="cell-body-textinput" name="outTime" type="text" aria-required="true" data-li-bingo-validation="control" value="" autofocus=&quot;autofocus&quot;/></div></li>

      

                      <button type="submit" class="btn btn-primary join-btn" data-position-join="right"><span class="fill-v2">Sign Up</span></button></fieldset>

                      <p class="signin-link">Already have an account! <a href="/login" class="sign-in-link">Sign in</a></p>
                    </form>
                   </div>
                  </div>
                 </div>
                  <div class="footer">
                   <div class="wrapper">
                    <p class="copyright">Guru,John,Motta,Gowtham</p>
                  </div>
                </div>
            
           </div>
       </div>
    </div>
</div>
 </body>
</html>

          
        
      
      
      
      
        